* {
	padding: 0;
	margin: 0;
	font-family: monospace;
	box-sizing: border-box;
}

.clock {
	display: flex;
	background-color: grey;
	padding: 2rem 5rem;
	margin: 1rem auto;
	width: fit-content;
}

.clock div {
	background-color: white;
	padding: 1rem 2rem;
	font-size: 2rem;
}
